body {
	/*background: blue;*/
	font-size: 16px; /*1em*/
	font-family: 'Roboto', sans-serif;
	margin: 0 auto; /*Centramos el Body*/
	max-width: 1024px; /*Empresa-Cliente*/
}
header{

}
#seccion01{
	width: 20%;
}


